# ==========================================
# VARIÁVEIS DE AMBIENTE PARA OS ROBÔS (VPS)
# ==========================================

# --- Configurações Gerais ---
TIMEZONE=America/Sao_Paulo
ESCOLAS_DB_URL=https://docs.google.com/spreadsheets/d/1Onw1vaSO2SIQ_OfAoDPI6ycnXWTAZ2ijhtujAOhI9UM/edit?usp=sharing

# 1. Credenciais Omada Cloud Controller
# ------------------------------------------
OMADA_EMAIL=noceace@bitinternet.com.br
OMADA_PASSWORD=sua_senha_omada_bitnet

OMADA_ST1_EMAIL=noceace@st1.net.br
OMADA_ST1_PASSWORD=sua_senha_omada_st1

OMADA_INTERVAL=300

# 2. Credenciais EACE / Aprender Conectado
# ------------------------------------------
EACE_EMAIL=noc@bitinternet.com.br
EACE_PASSWORD=sua_senha_eace_bitnet

EACE_ST1_EMAIL=joerbeth.marques@st1.net.br
EACE_ST1_PASSWORD=sua_senha_eace_st1

EACE_INTERVAL=300

# 3. NOC Dashboard API Key
# ------------------------------------------
NOC_API_KEY=sua_chave_super_secreta_aqui


# ==========================================
# CONFIGURAÇÕES DE REDE / DOMÍNIOS (CADDY)
# ==========================================
DOMAIN_RDO=noc.rinnecloud.shop
DOMAIN_N8N=n8n-st1.rinnecloud.shop

# ==========================================


# Credenciais de acesso ao n8n
N8N_USER=admin
N8N_PASSWORD=senha_forte_aqui
