# ==========================================
# VARIÁVEIS DE AMBIENTE PARA OS ROBÔS (VPS)
# ==========================================

# Credenciais Omada Cloud Controller
OMADA_EMAIL=noceace@bitinternet.com.br
OMADA_PASSWORD=sua_senha_omada
OMADA_INTERVAL=3600

# Credenciais EACE / Aprender Conectado (Controle de OS - RI)
EACE_EMAIL=noc@bitinternet.com.br
EACE_PASSWORD=sua_senha_eace
